.carousel {
  --button-size: var(--size-800);
  inline-size: 100cqi;
  /* scroll-padding-left: var(--gutter); */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: clamp(22rem, 60cqi, 40rem);
  gap: var(--size-600);
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  anchor-name: --carousel;

  @media (width >= 64rem) {
    --button-size: var(--size-750);
    grid-auto-columns: calc((var(--container-width) - var(--size-600)) / 2);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::scroll-button(*) {
    width: var(--button-size);
    aspect-ratio: 1/1;
    background-color: var(--color-light-shade);
    color: var(--color-dark);
    border: 0;
    font-family: var(--font-symbols);
    font-size: calc(var(--button-size) / 3);
    cursor: pointer;
    border-radius: var(--radius-sm);
    z-index: 99;
    transition: all 300ms ease;
    position: fixed;
    position-anchor: --carousel;
    position-area: right top;
    margin-block-end: var(--gutter);
  }

  &::scroll-button(*):hover {
    background-color: var(--color-primary-shade);
    color: var(--color-light-glare);
  }

  &::scroll-button(*):disabled {
    background-color: color-mix(in hsl, var(--color-light-shade),transparent 60%);
    color: color-mix(in hsl, var(--color-dark), transparent 80%);
    cursor: auto;
  }

  &::scroll-button(left) {
    content: '\e900'/ 'Scroll left';
    margin-left: calc(
      -1 * var(--container-padding) - calc(var(--gutter) * 2 +
            var(--button-size) + 5px)
    );

    @media (width <= 90em) {
      margin-left: calc(-1 * var(--gutter) - var(--button-size) * 2 - 5px);
    }
  }

  &::scroll-button(right) {
    content: '\e901'/ 'Scroll right';
    margin-left: calc(-1 * var(--container-padding) - calc(var(--gutter) * 2));

    @media (width <= 90em) {
      margin-left: calc(-1 * var(--size-700) - var(--button-size));
    }
  }

  > li {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
