.btn {
  padding-block: 0.9em;
  padding-inline: 1.6em;
  display: inline flex;
  align-items: center;
  border-radius: 10rem;
  gap: 0.5em;
  font-size: var(--size-xs);
  justify-content: center;
  min-width: fit-content;
  line-height: var(--leading-flat);
  transition: 200ms all ease;
  font-family: var(--font-base);
  min-width: max-content;
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
}

.btn[data-style='primary-solid'] {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.btn[data-style='secondary-solid'] {
  background-color: var(--color-secondary);
  color: var(--color-light-glare);
}

.btn[data-style='dark-solid'] {
  background-color: var(--color-dark);
  color: var(--color-light-glare);
}

.btn[data-style='light-solid'] {
  background-color: var(--color-light-glare);
  color: var(--color-dark);
}

.btn[data-style='white-solid'] {
  background-color: var(--color-light-glare);
  color: var(--color-dark);
}

.btn[data-style='primary-outline'] {
  box-shadow: 0px 0px 0px 1px var(--color-primary) inset;
  color: var(--color-primary);
}


.btn[data-style='light-outline'] {
  box-shadow: 0px 0px 0px 1px var(--color-light-glare) inset;
  color: var(--color-light-glare);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-dark-shade);
    box-shadow: 0px 0px 0px 0px;
  }
}

.btn[data-style='dark-outline'] {
  box-shadow: 0px 0px 0px 1px var(--color-dark) inset;
  color: var(--color-dark);
}
