
.scroller {
    max-width: 100vw;
  
    & ul{
      display: flex;
      flex-wrap: wrap;
      gap: var(--size-900);
    }

    & li{
      scroll-snap-stop: always;
      scroll-snap-align: start;
    }

    & a{
        opacity: 80%;
        transition: opacity .3s ease-in-out;
        &:hover{
            opacity: 100%;
        }
    }
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    align-items: center;
    animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
    &:hover {
      animation-play-state: paused;
    }
  }
  
  .scroller[data-direction="right"] {
    --animation-direction: reverse;
  }
  
  
  .scroller[data-direction="left"] {
    --animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - calc(var(--size-lg) / 2)));
    }
  }